* {
    box-sizing: border-box;
}

.reset-margin {
    margin: 0;
}

body {
    margin: 0;
    font-family: Helvetica;
    color: #333;
}

.mini-container {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

.main-widget {
    background-color: azure;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 5px 10px #00000015;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}

.program-name {
    font-size: 2rem;
}

.password-prop-list {
    list-style-type: none;
}

.password-prop-list li {
    padding: 6px;
    font-size: 1rem;
}

#password-length-inp {
    width: 50px;
}

#generate-password {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 6px 32px;
    border-radius: 15px;
}

#password {
    margin-top: 25px;
    text-align: center;
    font-size: 1.5em;
    display: none;
}